registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}

public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*zlib*
public-hoist-pattern[]=*eslint*
